<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">  
    <mat-card class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h3>Reset Password</h3>
        </div>
        <mat-card-content>
            <mat-form-field class="uk-width-1-1">
                <mat-label>Password Baru</mat-label>
                <input matInput type="password" placeholder="Your password" value="berliana123">
              </mat-form-field>
              <mat-form-field class="uk-width-1-1">
                <mat-label>Re-type Password Again</mat-label>
                <input matInput type="password" placeholder="Your password" value="berliana123">
              </mat-form-field>
              <div class="uk-flex uk-flex-right">
                 
                  <button mat-raised-button color="primary" routerLink="/login" >SUBMIT</button>
                 
              </div>
          </mat-card-content>
        </mat-card>
    </div>